body {
    background-color: bisque;
    color: rgb(139	69	19 );
    text-align: left;
}
hr {
    background-color: saddlebrown;
    height: 2px;
    border: none;
}
ul{
    list-style-type: square;
    font-size: 20px;
    margin-left: 60px;
}
ol {
    font-size: 20px;
    margin-left: 60px;
}
img{
height: 500px;
width: 350px;
border: solid 2px;
border-color: saddlebrown;
float: right;
margin-right: 5px;
border-radius: 70px;
margin-top: 80px;
}
h3 {
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    margin-left: 60px;
}
h1 {
    font-style:italic;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}
h2 {
    font-style:italic;
    font-family:'Courier New', Courier, monospace;
    margin-left: 400px;
    text-decoration: underline;
    margin-left: 60px;
}
hr {
    border: solid 1px;
    color: saddlebrown;
}
a {
    color: saddlebrown;
    
}
p {
    float: left;
    width: 33.333333%;
    height: 30px;
    color: white;
    text-align: center;
  }
  

.c2 {
    background-color:rgb(43, 19, 2);
}
.c3 {
    background-color: white;
}
.c4 {
    background-color: rgb(112, 12, 12);
}
.icon {
    width: 55px; 
    height: 50px; 
    position: relative; 
    bottom: 90px; 
    right: 720px;
    border: none;
}